/* FONDS Family's */
@font-face {
  font-family: Roboto-mono;
  src: url(../Fonts/Roboto_Mono/static/RobotoMono-Medium.ttf);
}
@font-face {
  font-family: Kanit-T;
  src: url(../Fonts/Kanit/Kanit-Black.ttf);
}
@font-face {
  font-family: Kanit-E;
  src: url(../Fonts/Kanit/Kanit-Regular.ttf);
}

/* Estilos Principales Para Estandarizar el Contenido y Hacerlo Responsivo */
:root {
  scroll-behavior: smooth;
  --titles-font: Kanit-T;
  --content-font: Roboto-mono;
  --ext-font: Kanit-E;
}
html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--content-font);
}
::selection {
  color: #fff9f9;
  background-color: orange;
}
body {
  overflow-x: hidden;
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  width: 100%;
  height: auto;
}

/* Estilos Para La Cabecera Y El Logo */
.int-logo {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #fff9f9;
  text-align: center;
  align-items: center;
  position: fixed;
  z-index: 5;
}
.icon {
  width: 3.4rem;
  height: 3.4rem;
  fill: #4e42d4;
}
.int-logo div {
  flex-grow: 0.4;
}
.int-logo a {
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #056af0;
  font-family: var(--ext-font);
}
.int-logo a:hover {
  text-decoration: underline;
  transition: all;
  color: orange;
}
h1 {
  margin: 0;
  color: #4e42d4;
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: 4px;
  font-family: var(--titles-font);
}
.enter-login {
  background-color: #4e42d4;
  color: #fff9f9;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.3rem;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  letter-spacing: 0.4px;
  font-family: var(--ext-font);
}
.enter-login:hover {
  transform: scale(1.1);
  background-color: orange;
}

/* Estilos Para El Titulo Principal Del Articulo */
.title-content {
  margin: 4rem auto 2rem;
  width: 60%;
  border-bottom: medium #000 solid;
  text-align: center;
  padding: 1rem;
  font-size: 2.5rem;
  font-family: var(--titles-font);
}
.title-content b {
  color: #2113bc;
}

/* Estilos Para El Primer Articulo Principal */
.father {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.father b {
  color: #4e42d4;
  font-family: var(--ext-font);
}
.father section {
  width: 60%;
  display: flex;
  flex-direction: column;
  animation: into-left 800ms ease-in-out;
}
.father p {
  font-size: 1.1rem;
  padding-right: 0.7rem;
  text-align: justify;
  margin-right: 2rem;
}
.father img {
  margin-top: 1rem;
  align-self: flex-start;
  width: 35%;
  height: auto;
  border: medium solid #4e42d4;
  animation: into-right 800ms ease-in-out;
}
.father img:hover,
.father2 img:hover,
.father3 img:hover {
  border: medium solid #056af0;
}

/* Estilo Para La Linea Divisora */
hr {
  width: 70%;
}

/* Estilo Para El Botón De Regresar (HOME) */
.home {
  width: 4rem;
  height: 4rem;
  position: fixed;
  bottom: 40px;
  right: 50px;
}
.home:hover {
  animation: wooble 1s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal forwards;
}

/* Estilos Para El Segundo Articulo */
.father2 {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.father2 b {
  color: #4e42d4;
  font-family: var(--ext-font);
}
.father2 section {
  width: 60%;
  display: flex;
  flex-direction: column;
  order: 10;
  animation: into-right 500ms ease-out;
}
.father2 p {
  font-size: 1.1rem;
  text-align: justify;
  padding-left: 0.7rem;
  margin-left: 2rem;
}
.father2 img {
  margin-top: 1rem;
  align-self: flex-start;
  width: 35%;
  height: 56vh;
  border: medium solid #4e42d4;
  object-fit: cover;
  object-position: 90% 90%;
  animation: into-left 800ms ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: both;
  transform: translateX(-200%);
}

/* Estilos Para El Tercer Articulo */
.father3 {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.father3 b {
  color: #4e42d4;
  font-family: var(--ext-font);
}
.father3 section {
  width: 80%;
  display: flex;
  flex-direction: column;
  order: 10;
}
.father3 p {
  font-size: 1.1rem;
  text-align: justify;
}
.father3 p:nth-child(1) {
  animation: into-right 800ms both ease-in-out;
  animation-delay: 1.3s;
}
.father3 p:nth-child(2) {
  animation: into-left 800ms both ease-in-out;
  animation-delay: 1.3s;
}

/* Estilos Para El Footer */
.fot-logo {
  width: 100%;
  height: 3rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #fff9f9;
  text-align: center;
  align-items: center;
}
.fot-logo a {
  font-size: 1rem;
  color: #056af0;
  text-decoration: none;
  font-family: var(--ext-font);
}
.fot-logo a:hover {
  text-decoration: underline;
  transition: all 300ms ease;
  color: orange;
  transform: scale(1.1);
}
